In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 1000)

In [2]:
df = pd.read_pickle('./UCF101_videos_prediction.pkl')

In [3]:
df

                       filename               y          y_pred
0      v_ApplyEyeMakeup_g01_c01  ApplyEyeMakeup  ApplyEyeMakeup
1      v_ApplyEyeMakeup_g01_c02  ApplyEyeMakeup  ApplyEyeMakeup
2      v_ApplyEyeMakeup_g01_c03  ApplyEyeMakeup  ApplyEyeMakeup
3      v_ApplyEyeMakeup_g01_c04  ApplyEyeMakeup  ApplyEyeMakeup
4      v_ApplyEyeMakeup_g01_c05  ApplyEyeMakeup  ApplyEyeMakeup
...                         ...             ...             ...
13315            v_YoYo_g23_c06            YoYo            YoYo
13316            v_YoYo_g24_c01            YoYo    PlayingSitar
13317            v_YoYo_g24_c02            YoYo            YoYo
13318            v_YoYo_g24_c03            YoYo            YoYo
13319            v_YoYo_g24_c04            YoYo            YoYo

[13320 rows x 3 columns]

### Videos with wrong predictions

In [4]:
a = df['filename'][df['y_pred']!=df['y']].tolist()
b = df['y'][df['y_pred']!=df['y']].tolist()
c = df['y_pred'][df['y_pred']!=df['y']].tolist()

df_mistakes = pd.DataFrame(data={'filename':a, 'y':b, 'y_pred':c})
df_mistakes.to_pickle('./wrong_predictions.pkl')

In [5]:
df_mistakes

                      filename               y          y_pred
0     v_ApplyEyeMakeup_g02_c03  ApplyEyeMakeup     HammerThrow
1     v_ApplyEyeMakeup_g03_c05  ApplyEyeMakeup  BoxingSpeedBag
2     v_ApplyEyeMakeup_g04_c02  ApplyEyeMakeup     WallPushups
3     v_ApplyEyeMakeup_g06_c02  ApplyEyeMakeup     HeadMassage
4     v_ApplyEyeMakeup_g06_c04  ApplyEyeMakeup    RopeClimbing
...                        ...             ...             ...
2130            v_YoYo_g21_c05            YoYo       GolfSwing
2131            v_YoYo_g22_c04            YoYo        Knitting
2132            v_YoYo_g22_c05            YoYo        HulaHoop
2133            v_YoYo_g23_c02            YoYo        HulaHoop
2134            v_YoYo_g24_c01            YoYo    PlayingSitar

[2135 rows x 3 columns]

### Videos with correct predictions

In [6]:
# find video filenames
correct_predict = ~df['filename'].isin(df_mistakes['filename'])

df_correct = df[correct_predict]
# df_correct.to_pickle('./correct_predictions.pkl')

In [7]:
df_correct

                       filename               y          y_pred
1        v_PlayingPiano_g17_c02    PlayingPiano    PlayingPiano
2            v_LongJump_g03_c03        LongJump        LongJump
3              v_TaiChi_g16_c02          TaiChi          TaiChi
4        v_ParallelBars_g01_c04    ParallelBars    ParallelBars
5        v_PlayingCello_g06_c05    PlayingCello    PlayingCello
...                         ...             ...             ...
13314        v_JumpRope_g15_c01        JumpRope        JumpRope
13315   v_PlayingGuitar_g20_c04   PlayingGuitar   PlayingGuitar
13317    v_PlayingSitar_g23_c05    PlayingSitar    PlayingSitar
13318  v_BasketballDunk_g19_c03  BasketballDunk  BasketballDunk
13319        v_Drumming_g03_c04        Drumming        Drumming

[11591 rows x 3 columns]

In [9]:
N = len(df)
N_correct = len(df_correct)
N_mistake = len(df_mistakes)

print('total videos: {}'.format(N))
print('Accuracy: {:.2f}%'.format(N_correct/N * 100))

total videos: 13320
Accuracy: 87.02%